/*---------------------------------------------HEADER---------------------------------------------------*/
header{
	width: 880px;
	height: 200px;
	text-align: center;
	background-image: url("images/fondo_titulo.png");
	background-repeat: repeat;
	border-left: 10px solid white;
	border-right: 10px solid white;
	float: center;	
}
nav.header{
	width: 140px;
	height: 100px;
	margin-top: 0px;
	text-align: left;
	float: right;
	background-image: none;
	border:0px;
}
a.header{
	width: 100px;
	height: 25px;
	padding-right: 3px;
	text-align: right;
	font-family: sans-serif;
	color: white;
	text-decoration:none;
	float: right;
}
img.logo{
	width: 200px;
	text-align: left;
	float: left;
}

titulo{
	width: 650px;
	padding-bottom: 65px;
	font-family: sans-serif;
	font-size: 50px;
	color: white;
	float: left;
	text-align: left;
}
/*---------------------------------------BARRA DE NAVEGACION-------------------------------------------*/
nav{
	width: 880px;
	height: 60px;
	text-align: center;
	float: center;
	background-image: url("images/fondo_botones.png");
	background-repeat: repeat;
	border-bottom: 10px solid white;
	border-left: 10px solid white;
	border-right: 10px solid white;
}
a.botones{
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: sans-serif;
	color: white;
	text-decoration:none;
}
img.contacto{
	width: 250px;
	
	float: center;
	
}
/*--------------------------------------PRODUCTOS_DESTACADO--------------------------------------------*/
img.producto_destacado{
	width: 100px;
	padding: 10px;
	margin: 5px;
	float: left;
	border: 2px solid lightgray;
}
div.descripcion_destacado{
	padding: 10px;
	width: 260px;
	margin-right: 20px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: justify;
	float: right;
	border: 2px solid lightgray;
}
h3.descripcion_destacado{
	width: 250px;
	text-align: justify;
	font-size: 16px;
	float: center;
	color: gray;
}
p.descripcion_destacado{
	margin: 5px;
	width: 250px;
	font-family: sans-serif;
	font-size: 14px;
	text-align:justify;
	float: center;
}
/*----------------------------------------PAGINA EN GENERAL---------------------------------------------*/
body{
	margin: 0px;
	width: 900px;
	padding-left: 15%;
	padding-right: 15%;
	background-color: gray;
	font-family: sans-serif;
	text-align: center;
	float: center;
}
aside{
	width: 200px;
	padding-top: 10px;
	margin: 10px;
	float: left;
	background-color: white;
	text-align: center;
	border: 1px solid gray;
}
article{
	width: 870px;
	padding-right: 10px;
	background-color: white;
	text-align: center;
	float: right;
	border: 10px solid white;
}
h1{
	padding: 5px;
	text-align:right;
	font-size: 18px;
	color: lightgray;
}
h2{
	width:620px;
	margin-top:20px;
	margin-bottom: 15px;
	text-align:center;
	font-size: 30px;
	float: right;
	color: gray;
}
h3{
	width:550px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 20px;
	float: right;
	color: gray;
}
p{
	width: 620px;
	margin-bottom: : 15px;
	background-color: white;
	font-family: sans-serif;
	font-size: 14px;
	text-align:justify;
	float: right;
}
p.linea_punteada{
	margin-bottom: 10px;
	font-size: 20px;
 	color: gray;
	font-family: sans-serif;
}
/*---------------------------------------------FOOTER--------------------------------------------------*/
footer{
	float: bottom;
	width: 870px;
	padding-right: 10px;
	background-color: rgb(102,102,102);
	text-align: center;
	border: 10px solid white;
	border-bottom: 0px;
}
a.footer{
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: sans-serif;
	color: white;
	text-decoration: none;
}
/*---------------------------------------------AYUDA--------------------------------------------------*/
article.ayuda{
	width: 870px;
	background-color: white;
	text-align: center;
	float: center;
	border: 10px solid white;
}
h2.ayuda{
	width:880px;
	text-align:center;
	font-size: 30px;
	color: gray;
}
h3.ayuda{
	width:800px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: left;
	font-size: 20px;
	float: left;
	color: gray;
}
p.ayuda{
	width: 825px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: sans-serif;
	font-size: 14px;
	text-align:justify;
	float: center;
}
p.linea_punteada_ayuda{
	padding-right: 25px;
	padding-left: 25px;
	width: 800px;
	font-size: 20px;
 	color: gray;
 	text-align: center;
 	float: center;
	font-family: sans-serif;
}
/*-------------------------------------------FORMULARIO-----------------------------------------------*/
div.formulario{
	padding: 10px;
	width: 330px;
	margin: 10px;
	text-align: justify;
	float: right;
	border: 2px solid lightgray;

}
h3.formulario{
	
	text-align: left;
	font-size: 20px;
	float: left;
	color: gray;
}
p.formulario{
	width: 450px;
	font-family: sans-serif;
	font-size: 14px;
	text-align:justify;
	float: center;
}
/*----------------------------------------BASES Y CONDICIONES-----------------------------------------*/
div.bases_cond{
	padding: 10px;
	width: 450px;
	margin: 10px;
	text-align: justify;
	float: left;
	border: 2px solid lightgray;

}
/*-------------------------------------------PRODUCTOS-------------------------------------------------*/
div.ingrese_prod{
	padding: 10px;
	width: 390px;
	margin-right: 5px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: justify;
	float: left;
	border: 2px solid blue;
}
img.producto{
	width: 150px;
	height: 120px;
	padding: 10px;
	margin: 5px;
	float: left;
	border: 2px solid lightgray;
}
div.descripcion{
	padding: 10px;
	width: 390px;
	margin-right: 5px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: justify;
	float: left;
	border: 2px solid lightgray;
}
h3.descripcion{
	width: 390px;
	text-align: justify;
	font-size: 16px;
	float: center;
	color: gray;
}
p.descripcion{
	margin: 5px;
	width: 390px;
	font-family: sans-serif;
	font-size: 14px;
	text-align:justify;
	float: center;
}








