<!DOCTYPE HTML>
<section id="principal">
	<aside id="contenido_aside">
		<img class="imgs_slide" src="imagenes/comidas/c9.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c10.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c11.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c12.jpg"></img>
	</aside>
	<article id="articulo">
	<p> 
		Atrévete y suelta tu imaginación con algo diferente. La risa está asegurada.
		Celebra tus despedidas de solter@, cumpleaños, divorcios y cualquier otra fiesta en un ambiente pícaro y divertido.
		Elige nuestras exclusivas tartas eróticas desde 2 hasta 30 raciones, tanto femeninas como masculinas...
	</p>
	</article>
</section>