<!DOCTYPE HTML>
<section id="principal">
	<aside id="contenido_aside">
		<img class="imgs_slide" src="imagenes/comidas/c5.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c6.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c7.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c8.jpg"></img>
	</aside>
	<article id="articulo">
		<p> 
			. Torta redonda de 1 bizcocho: 20 € (27 cm diámetro x 6 cm alto) 
			. Torta redonda de 2 bizcochos: 30 € (27 cm diámetro x 10 cm alto) 
			. Torta rectangular de 2 bizcochos: 60 € (40 x 30 cm y 10 cm. alto)
			. Torta redonda (personalizada con tu foto) de 2 bizcochos: 45 €
		</p>
	</article>
</section>