<!DOCTYPE HTML>
<section id="principal">
	<aside id="contenido_aside">	
		<img class="imgs_slide" src="imagenes/flor/flor1.jpg"></img>
		<img class="imgs_slide" src="imagenes/flor/flor2.jpg"></img>
		<img class="imgs_slide" src="imagenes/flor/flor1.jpg"></img>
		<img class="imgs_slide" src="imagenes/flor/flor2.jpg"></img>
	</aside>
	<article id="articulo">
		<p> 
			Desde chica siempre me gusto cocinar. A los 8 años llevaba tortas hechas por mi al colegio y volvía loca a las maestras, sobre todo con la receta de la torta de 80 golpes de mama. A medida que fue pasando el tiempo fui...
		</p>
	</article>
</section>