		<header>
			<aside id="info_techo">
				<h1 id="titulo_cabecera">
					<a href="http://www.facebook.com/FlorDeChocolate.Reposteria" target="_blank"><img id="img_facebook" class="agrandarimagen" src="imagenes/iconos/ico_facebook.png"></a>
					ComidasDeFlor.com.ar, comer casero es la mejor opción.
				</h1>
				<p id="info_contacto">
					<img id="img_tel" src="imagenes/iconos/tel_ico.png"> (02262) 15-49-5903 
					<img id="img_dire" src="imagenes/iconos/ico_dire.png"> Costa Rica 518 Dto 3, Tandil 
				</p>
			</aside>
			<a href="index.php">
				<img id="logo" class="leverotacion" src="imagenes/logos/logo_cocina.jpg" alt="ComidasDeFlor.com.ar"/>
			</a>
		</header>