<!DOCTYPE HTML>
<section id="principal">
	<aside id="contenido_aside">				
		<img class="imgs_slide" src="imagenes/comidas/c16.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c15.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c14.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c13.jpg"></img>
	</aside>
	<article id="articulo">
		<p>
			ARTICULO Nuestras comidas son realizadas en forma casera. Nuestras viandas son entregas con un servicio de delivery, en bandejas descartables aptas para freezer y microondas. Como nuestro servicio es personalizado y elaborado en el día necesitamos que su pedido sea realizado con anticipación. Desde ya muchas gracias.
		</p>
	</article>
</section>