		<nav id="menu_nav">
			<ul>
				<li id="contacto" class="efectoup" alt="Comuníquese con nosotros"><a href="index.php?seccion=contacto"><img class="imgs_nav" src="imagenes/iconos/mail_ico.png" align="bottom">Contacto</a></li>
				<li id="flor" class="efectoup" alt="Conozca un poco más de la cocinera"><a href="index.php?seccion=flor"><img class="imgs_nav" src="imagenes/iconos/fcook_ico.png" align="bottom">¿Quién es Flor?</a></li>
				<li id="adultos" class="efectoup" alt="Pastelería erótica para adultos"><a href="index.php?seccion=adultos"><img class="imgs_nav" src="imagenes/iconos/cook_ico.png" align="bottom">Pastelería erótica</a></li>
				<li id="salado" class="efectoup" alt="Comidas saladas"><a href="index.php?seccion=salado"><img class="imgs_nav" src="imagenes/iconos/pizza_ico.png" align="bottom">Salado</a></li>
				<li id="dulce" class="efectoup" alt="Comidas dulces"><a href="index.php?seccion=dulce"><img class="imgs_nav" src="imagenes/iconos/cookie_ico.png" align="bottom">Dulce</a></li>
				<li id="inicio" ALT="Ir a ComidasDeFlor.com.ar" class="efectoup"><a href="index.php?seccion=inicio"><img class="imgs_nav" src="imagenes/iconos/icon_home.png" align="bottom">Inicio</a></li>
			</ul>
		</nav>