<!DOCTYPE HTML>
<section id="principal">
	<aside id="contenido_aside">	
		<img class="imgs_slide" src="imagenes/comidas/c1.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c2.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c3.jpg"></img>
		<img class="imgs_slide" src="imagenes/comidas/c4.jpg"></img>
	</aside>
	<article id="articulo">
		<p> 
			. Empanadas de Queso (horno ó fritas) (2,50 € c/u)
			. Empanadas de Coctel de Pino
			. Dobladitas (0,80 € c/u)
			. Pan amasado (0,50 € c/u)
		</p>
	</article>
</section>