body 
{ 
	padding-top: 50px; 
}
footer 
{
	color:#FFF;
}
table
{
	font-size: 14px;
}
.tab-pane
{
	height: 450px;
}
.separador
{
	background-color: #AAA;
	padding: 10px;
	margin:20px 0;
}
h1,h2,h3
{
	margin-top: 10px;
}
#busquedacli
{
	display:none;
}
.detallemodal {
	min-width:110px;
	text-align:center;
}