body {
	background-image:url(../images/binding_light.png);
	font-family:"Droid sans","Verdana";
	font-size:14px;
	color:#FFF;
	width:1351px;
	margin:0 auto;
	padding:0;
}
nav {
	height:40px;
	background-image:url(../images/binding_dark.png);
	text-align:left;
	border-radius:10px;
}
footer {
	color:#FFF;
	text-align:center;
	margin:20px auto;
}
header {
	margin:20px auto 40px;
}
a.menu {
	display:inline-block;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
	font-family:"DejaVu Sans","Verdana";
	font-size:13px;
	color:#FFF;
	padding:0 25px;
	outline:none;
}
a.elemento_actual,a.menu:hover,a.menu:focus {
	background-image:url(../images/fondoboton.jpg);
	border-radius:10px;
}
img.logo_izq {
	margin-left:70px;
	margin-top:20px;
}
img.logo_der {
	margin-right:70px;
	margin-top:40px;
}
img.foto_servicio {
	height:250px;
	width:300px;
	margin:0 10px 20px;
	padding:0;
	border-radius:10px;
}
img.thumbnail {
	border-radius:10px;
	border:2px solid #FFF;
	width:60px;
	height:60px;
}
article {
	border-radius:10px;
	background-image:url(../images/binding_dark.png);
	padding:20px;
}
article.articulo_index_principal {
	clear:both;
	height:620px;
	width:850px;
	margin-left:10px;
}
article.articulo_index_aside {
	height:283px;
	width:320px;
	margin-right:10px;
}
article.articulo_servicio_der,article.articulo_servicio_izq {
	height:210px;
	width:900px;
	margin:0 10px 20px;
}
article.articulo_servicio_der {
	text-align:left;
}
article.articulo_servicio_izq {
	text-align:right;
}
article#horario_atencion {
	margin-top:5px;
}
article#noticias {
	margin-bottom:5px;
}
div {
	text-align:center;
	background-image:url(../images/binding_dark.png);
	margin:0 auto;
}
div.logo {
	width:700px;
	height:200px;
	border-radius:10px;
	padding:10px;
}
div.elemento_contenedor {
	border-radius:10px;
	padding:20px;
}
div#datos_consulta {
	width:1000px;
	margin:0 auto;
}
div#contacto {
	width:60%;
}
div#footer {
	width:700px;
	height:30px;
	padding:0;
}
div#copyright {
	background:none;
	font-size:18px;
	margin-top:20px;
	color:#000;
}
form.formcontacto {
	width:50%;
	margin:0 auto;
}
input,textarea {
	font-family:"Droid sans","Verdana";
	font-size:14px;
	border:none;
	border-radius:5px;
	outline:none;
}
textarea {
	width:315px;
	height:204px;
	padding:5px;
}
input {
	height:35px;
	padding:0 5px;
}
input[readonly] {
	text-align:center;
}
input.formconsulta {
	width:175px;
}
input.formcontacto {
	width:315px;
}
input.botonesform {
	color:#000;
	width:100px;
	font-size:13px;
	background-image:url(../images/binding_light.png);
	border-radius:0 20px;
}
input[type=submit] {
	border-radius:20px 0;
}
input[type=reset]:hover,input[type=submit]:hover,input[type=submit]:focus,input[type=reset]:focus {
	background-image:url(../images/fondoboton.jpg);
	color:#FFF;
}
input.formconsulta:focus,input.formcontacto:focus,textarea:focus {
	border-radius:0 10px;
}
input.formconsulta:hover,input.formcontacto:hover,textarea:hover {
	background-color:#E5E6DD;
}
p {
	color:#CECFBF;
}
p.logo {
	font-size:26px;
	color:#FFF;
	text-align:center;
}
h2 {
	font-size:22px;
	color:#FFF;
	text-align:center;
}
span.campoobliga {
	font-size:12px;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
li {
	display:inline;
	line-height:30px;
	padding:0 30px;
}
.clear {
	clear:both;
}
.flota_der {
	float:right;
}
.flota_izq {
	float:left;
}
img#ultima,article#ultimo {
	margin:0 10px;
}
form,legend,::-webkit-input-placeholder,-ms-input-placeholder {
	text-align:center;
}
fieldset{
	border-radius:5px;
}