.titulonegro{
font-family:"Arial",Sans-serif;
font-size:45px;
font-style:oblique;
text-align:left;
text-indent:50px;
color:black;
}

body{
background-color:#D6D6C2;
height:800px;
}

h1{
font-family:"Arial",Sans-serif;
font-size:45px;
font-style:oblique;
text-align:left;
text-indent:50px;
color:#1F3D5C;
}

ul{
list-style-type:none;
margin:40;
padding:0;
overflow:hidden;
}

li{
float:left;
}

a:link,a:visited
{
display:block;
border-radius:16px;
width:180px;
color:#FFFFFF;
background-color:#1F3D5C;
text-align:center;
padding:4px;
text-decoration:none;
font-family:Arial;
}

a.contactar{
display:block;
border-color:#1F3D5C;
width:70px;
color:#1F3D5C;
background-color:#FFFFFF;
text-align:center;
padding:4px;
font-family:"Arial Black";
height:16px;
position:absolute;
top:31px;
right:245px;
}
.iconofacebook{
border-radius:3px;
height:29px;
width:27px;
position:absolute;
top:25px;
right:190px;
}
.iconotwitter{
border-radius:3px;
height:29px;
width:27px;
position:absolute;
top:25px;
right:110px;
}
.iconoyoutube{
border-radius:3px;
height:29px;
width:27px;
position:absolute;
top:25px;
right:150px;
}

div.noticia{
height:460px;
width:650px;
padding:5px;
border:1px solid gray;
margin:370px;
margin-top:40px;
text-align:justify;
}
.tamanioimagen{
width:150px;
height:100px;
position:absolute;
top:536px;
right:225px;
}

.posicionartag{
position:absolute;
top:92px;
}

.nombretag{
color:black;
font-family:"Arial";
font-style:oblique;
font-size:20px;
text-decoration:none;
}

.nombrecategoria{
color:#1F3D5C;
font-family:"Arial";
font-style:oblique;
font-size:20px;
}

#nombrebiografia{
color:#1F3D5C;
font-family:"Arial";
font-style:oblique;
font-size:20px;
}

.cuadrobiografia{
height:135px;
width:260px;
padding:4px;
margin:0px;
}
.textobiografia{
font-style:oblique;
text-align:left;
}


h2{
color:#1F3D5C;
font-family:"Arial";
font-style:oblique;
font-size:22px;
}

.googleglass{
width:300px;
height:150px;
position:absolute;
top:450px;
right:395px;
}

.seguirleyendo{
width:110px;
height:20px;
position:absolute;
border:0px solid gray;
top:610px;
right:302px;
color:#1F3D5C;
background-color:#FFFFFF;
}

div.noticia1{
height:613px;
width:650px;
padding:5px;
border:1px solid gray;
margin:380px;
margin-top:40px;
text-align:justify;
}

.video{
width:305px; 
height:200px; 
position:absolute;
top:595px;
right:400px;
}

.imagenlogin{
width:180px;
height:200px;
position:absolute;
top:340px;
right:20px;
}

.camposlogin{
color:#1F3D5C;
font-family:"Arial";
font-style:oblique;
font-size:16px;
}

.cuadrologin{
height:385px;
width:650px;
padding:5px;
border:1px solid gray;
margin:0px;
float:right;
text-align:justify;
}

label{
float:left;
width:25%;
}

.itemrow{
float:left;
width:50%;
}

input{
float:left;
width:70%;
}

input.enviar{
width:20%;
}

footer{
height:30px;
width:770px;
position:absolute;
top:830px;
left:300px;
font-size:14px;
font-style:oblique;
}