*{
	margin:0;
	padding: 0;
}

body{
	text-align:center;
	font-family:arial,helvetica,sans-serif;
	font-size: 14px;
	background-color: #F5D0A9;
}

div#contenedorgeneral{
	top:0;
	bottom: 0;
	width:900px;
	margin:auto;
}

header#encabezado{
	box-shadow: 0px 4px 10px #000;
	top:0;
	width: 900px;
	height: 270px;
	margin-bottom: 1px;
	background-color:#fff;
	border-radius: 0 0 5px 5px;
}

header#encabezado img{
	max-height: 270px;
	top:0;
}

ul{list-style-type: none;}

.menu{
	box-shadow: 0px 4px 10px #000;
	padding: 0 0 2px 0; 
	width: 900px;
	background-color:#fff;
	border-radius: 5px 5px 5px 5px;
	z-index: 1000;
}
.menu li a{
	color: #FFF;
	font-weight: bold;
	text-decoration:none;
}
.menu li{
	padding:5px 0 5px 0;
	width: 145px;
	background-color:#A4A4A4; 
	border:1px outset #A4A4A4;
	display: inline-block;
	position: relative;
	margin: -2px;
	cursor: pointer;
}

.menu >li:hover{
	background-color: #F6E3CE;
	padding-top: 10px;
	box-shadow: 0px 0px 4px #A4A4A4;
	border-radius: 10px 10px 0px 0px;
	border:1px outset #F6E3CE;
	color: #FAFAFA;
	text-shadow:1px 1px 1px  #A4A4A4;

}

.menu .selected {
	background-color: #D8D8D8;
	padding-top: 10px;
	box-shadow: 0px 0px 4px #A4A4A4;
	border-radius: 10px 10px 0px 0px;
	border:1px outset #FAFAFA;
	color: #FAFAFA;
	text-shadow:1px 1px 1px  #A4A4A4;
}

.submenu {
	position: absolute;
	top:34px;
	left: 1px;
	display: none;
	box-shadow: 0px 0.5px 5px #000;
	border-radius: 0px 0px 10px 10px;
	-moz-animation-duration:0.8s;
	-webkit-animation-duration:0.8s;
	-ms-animation-duration:0.8s;
}

.submenu li:last-child{
	border-radius: 0px 0px 10px 10px;
}

.submenu >li{
	display: block;
}
.submenu li:hover{
	background-color: #F6E3CE;
	text-shadow: 2px 2px 2px #A4A4A4;
}

.menu li:hover ul{
	display: block;
	-moz-animation-name:submenu;
	-webkit-animation-name:submenu;
	-ms-animation-name:submenu;
}

@-moz-keyframes submenu{
	0%{
		opacity: 0;
		left: -90px;
	}
	50%{
		-moz-transform:skew(10deg);
		box-shadow: -10px 4px 6px #000;
	}
	
	100%{
		opacity: 1;
		left: 0px;
	}
}

@-webkit-keyframes submenu{
	0%{
		opacity: 0;
		left: -90px;
	}
	50%{
		-webkit-transform:skew(10deg);
		box-shadow: -10px 4px 6px #000;
	}
	
	100%{
		opacity: 1;
		left:0px;
	}
}
@-ms-keyframes submenu{
	0%{
		opacity: 0;
		left: -90px;
	}
	50%{
		-moz-transform:skew(10deg);
		box-shadow: -10px 4px 6px #000;
	}
	
	100%{
		opacity: 1;
		left: 0px;
	}
}

.menu >li{
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-ms--transition:all 0.4s ease;
}

div#contenedorcentral{
	padding-top: 60px;
}

article#articulo{
	margin-left:20px;
	padding: 60px;
	border-radius: 10px;
	background-color: #fff;
	width: 520px;
	float: left;
	position: static;
}

form#formulariocontacto ul{
	text-align: left;
	border-bottom:1px solid #eee;
	position:relative;
}

form#formulariocontacto ul li{
	padding:12px;
	border-bottom:1px solid #eee;
	position:relative;
}

form#formulariocontacto label{
	color: #555555;
	display: inline-block;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-top: 3px;
	padding: 3px;
	width: 90px;
}

form#formulariocontacto input{
height:15px;
width:220px;
padding:5px 8px;
}

form#formulariocontacto textarea {
    padding:8px;
    width:300px;
    max-height:250px; 
    max-width: 330px;
}

form#formulariocontacto button {
    margin-left:90px;
}

form#formulariocontacto input, form#formulariocontacto textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    padding-right:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    transition: padding .25s;
}

form#formulariocontacto input:focus, form#formulariocontacto textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:50px;
}

aside#contenedorlateral {
width: 200px;
margin-right: 20px;
height:;
float:right;
position: static;

}

div#contenedorloguin{
	height: 120px;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 20px;

}

div#contenedorpublis{
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	height: 1000px;
}

.botonsubmit{
	padding: 5px;
}

