* { /* Todo contenido tendrá por defecto 0px de margin y padding */
	margin: 0px;
	padding: 0px;
}
a {
	color:#000; /* Tampoco tendrán color rojo */
	text-decoration: none; /* Los links jamás tendrán subrayado */
}
body {
	background-image: url(../imagenes/fondos/mantel-mosaico.jpg);
	font-family: FuenteExterna, Arial;
	height: 100%;
	font-size: 100%;
	text-shadow: 1px 1px 2px #ffffff; /* Todo texto tendrá un leve sombreado blanco */
	width: 960px;
	margin: 0px auto;

	-webkit-text-shadow: 1px 1px 2px #ffffff; /* Apto para versiones viejas de Chrome y Safari */
	-moz-text-shadow: 1px 1px 2px #ffffff; /* de Mozilla Firefox */
	-o-text-shadow: 1px 1px 2px #ffffff; /* Ópera */
	-ms-text-shadow: 1px 1px 2px #ffffff; /* Deprinet Explorer */
}
header {
	width: 100%;
}
nav ul {
	padding: 0.5em 0em;
}
nav ul li {
	display: inline;
}
/* Simplificando código  
------------------------------------------------*/
#info_techo, #titulo_cabecera, #info_contacto, #contenido_aside, #articulo, #pie_pagina, #texto_footer, #logo {
	/* padding (y border si existiera) estará dentro del calcúlo del ancho (45% en este caso) y alto */

	box-sizing: border-box;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
#info_techo, #titulo_cabecera, #info_contacto {
	border-radius: 0px 0px 25px 25px; /* Bordes redondeados */
	height: 25px;

	-moz-border-radius: 0px 0px 25px 25px;
	-webkit-border-radius: 0px 0px 25px 25px;
	-o-border-radius: 0px 0px 25px 25px;
	-ms-border-radius: 0px 0px 25px 25px;
}
/*------------------------------------------------*/
#articulo {
	/* Información dedicada a la sección en la que se encuentre */
	background-color: #FBEFFB;
	border-radius: 25px 0px 0px 25px; /* Bordes izquierdos redondeados */
 	box-shadow: 1px 1px 3px 2px  #FBEFFB;
	display: inline-block;
	float: right;
	font-size: 1.2em;
	opacity: 0.85;
	margin: 0.5em 0em;
	max-height: 100%;
	max-width: 55%;
	padding: 0.9em 1em;
	text-align: justify;
	z-index: 0;

	-moz-border-radius: 0px 0px 25px 25px;
	-webkit-border-radius: 25px 0px 0px 25px;
	-o-border-radius: 0px 0px 25px 25px;
	-ms-border-radius: 0px 0px 25px 25px;

	-webkit-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -moz-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -o-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -ms-box-shadow: 1px 1px 3px 2px  #FBEFFB;
}
#contenido_aside { /* Contenido que acompaña al artículo de la sección. Ej: fotos, gadgets, etc. */ 
	display: inline;
	float: left;
	max-height: 100%;
	max-width: 45%;
	text-align: right;
	padding: 10px 15px;
}
#imagenes_techo {
	padding: 1em 0em;
	text-align: right;
}
#img_dire {
	height: 17px;
	padding: -2px 1px -2px 5px;
	width: 17px;
}
#img_facebook { /* Ícono de enlace a la página de Facebook */
	height: 16px;
	width: 17px;
}
#img_tel { /* Icono intuitivo */
	height: 16px;
	padding: -2px 1px -2px 5px;
	width: 12px;
}
#imgs_promo {
	display: inline;
	overflow: hidden;
	text-align: center;

}
#info_contacto { /* Teléfono y dirección */
	display: inline-block;
	float: right;
	font-size: 0.9em;
	padding: 2px 25px 2px 0px;
	text-align: right;
	width: 50%;
}
#info_techo {
	/* Para que el usuario tenga la información de contacto al alcance  */
	background-color: #FBEFFB;
	box-shadow: 0px 0px 3px 1px  #FBEFFB;
	margin: 0px 10px;
 	opacity: 0.75;

	-webkit-box-shadow: 0px 0px 3px 1px  #FBEFFB;
    -moz-box-shadow: 0px 0px 3px 1px  #FBEFFB;
    -o-box-shadow: 0px 0px 3px 1px  #FBEFFB;
    -ms-box-shadow: 0px 0px 3px 1px  #FBEFFB;
}
#logo { /* Logo de la empresa. Pertenece también al header */
	border: 0;
	box-shadow: 2px 2px 5px #999;
	left: 30px;
	max-height:168px;
	max-width: 210px;
	position: absolute;
	
	z-index: 5;

	-webkit-box-shadow: 2px 2px 5px #999;
	-moz-box-shadow: 2px 2px 5px #999;
	-o-box-shadow: 2px 2px 5px #999;
	-ms-box-shadow: 2px 2px 5px #999;
}
#menu_nav { /* Barra de navegación (Inicio, Contacto, etc.) */
	background-color: white;
	box-shadow: 2px 2px 5px #999;
	color: black;
	font-size: 1em;
	margin: 1em 0em;
	max-height: 7em;
	min-height: 3em;
	padding: 0em 1em;
	text-align: right;
	
	-webkit-box-shadow: 2px 2px 5px #999;
	-moz-box-shadow: 2px 2px 5px #999;
	-o-box-shadow: 2px 2px 5px #999;
	-ms-box-shadow: 2px 2px 5px #999;
}
#pie_pagina {
	box-shadow: 0px 0px 3px 1px  white;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
	clear: both;
	display: block;
	opacity: 0.75;
	position: relative;
	top:100%;
	width: 100%;
    
	-webkit-box-shadow: 0px 0px 3px 1px  white;
    -moz-box-shadow: 0px 0px 3px 1px  white;
    -o-box-shadow: 0px 0px 3px 1px  white;
    -ms-box-shadow: 0px 0px 3px 1px  white;

    -moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
	-o-border-radius: 25px 25px 0px 0px;
	-ms-border-radius: 25px 25px 0px 0px;
}
#promo1 {
	left: 80px;
	position: relative;
	z-index: 1;
}
#promo2 {
	left: 40px;
	position: relative;
	z-index: 2;
}
#promo3 {
	position: relative;
	z-index: 3;
}
#promo4 {
	right: 40px;
	position: relative;
	z-index: 2;
}
#promo5 {
	right: 80px;
	position: relative;
	z-index: 1;
}
#principal { /*Sección que contiene a "articulo" y a su "contenido_aside" */
	height: 100%;
	width: 100%;
}
#texto_footer {
	color: #151515;
	display: block;
	font-size: 0.75em;
	height: 100%;
	padding: 5px 0px;
 	text-align: center;
	width: 100%;
}
#titulo_cabecera {
	display: inline-block;
	float: left;
	font-size: 0.8em;
	font-weight: normal;
	padding: 2px 0px 2px 20px;
	text-align: left;
	width: 50%;
}
/* A continuación se encuentran los efectos utilizados para las imagenes 
------------------------------------------------------------------------ */
.efectoup img, .efectoup:hover img, .imgs_slide, .leverotacion, .promos {
	/* Eventos que duran 0.5 segundos */

	transition-duration: 0.5s;

	-webkit-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
}
.imgs_slide:hover{
	/* Agranda el tamaño 1.5 veces */
	
	transform:scale(1.5);

 	-webkit-transform:scale(1.5);
 	-moz-transform:scale(1.5);
 	-o-transform:scale(1.5);
 	-ms-transform:scale(1.5);
}
.efectoup:hover img{
	/* Agranda 1.7 veces el contenido (iconos en nav) */

	transform:scale(1.7);

 	-webkit-transform:scale(1.7);
 	-moz-transform:scale(1.7);
	-o-transform:scale(1.7);
	-ms-transform:scale(1.7);
}
.imgs_nav { /* Imganes intuitivas de la barra de navegación */
	display: inline-block;
	height: 15px;
	margin: 0px 2px 0px 4px;
	padding: -5px 3px;
	text-align: left;
	width: 15px;
}
.imgs_slide { /* Imágenes del aside */
	border: 0px;
	border-radius: 15px;
	box-shadow: 1px 1px 3px 2px  #FBEFFB;
	display: inline;
	height: 150px;
	margin: 1px 1px;
	width: 150px;
	z-index: 1;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;

	-webkit-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -moz-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -o-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -ms-box-shadow: 1px 1px 3px 2px  #FBEFFB;
}
.leverotacion:hover {
	/* Rota levemente el contenido (logo) */

	transform: rotate(-10deg);

	-webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
}
.promos:hover{
	/* Rota levemente el contenido (logo) */

	transform: rotate(-10deg);

	-webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
}
.promos {
	box-shadow: 1px 1px 3px 2px  #FBEFFB;
	height: 150px;
	width: 150px;

	-webkit-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -moz-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -o-box-shadow: 1px 1px 3px 2px  #FBEFFB;
    -ms-box-shadow: 1px 1px 3px 2px  #FBEFFB;
}
/* Usando Responsive Design para ajustar el contenido en relación al 
dispositivo en el cual se esté visualizando la web
------------------------------------------------------------------------ */
@media screen and (max-width: 960px) {
	body {
		width: 100%;
	}
}
@media screen and (max-width: 830px) {
	#titulo_cabecera {
		font-size: 0.7em;
		width: 45%;
	}
	#info_contacto {
		width: 55%;
	}
}
@media screen and (max-width: 790px) {
	#titulo_cabecera {
		visibility: hidden;
		width: 5%;
	}
	#info_contacto {
		font-size: 1em;
		text-align: center;
		width: 95%;
	}
}